Chapter[[:space:]]-[[:space:]]13[[:space:]]-[[:space:]]Creating[[:space:]]Desktop[[:space:]]applications[[:space:]]in[[:space:]]c\#.pptx filter=lfs diff=lfs merge=lfs -text
Chapter[[:space:]]-[[:space:]]17[[:space:]]-[[:space:]]Working[[:space:]]with[[:space:]]datasources[[:space:]]and[[:space:]]data[[:space:]]sets.pptx filter=lfs diff=lfs merge=lfs -text
